.container {
  padding: 0 180px;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
}

thead {
  height: 23px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: var(--textSecondary);
}

th {
  padding: 32px 0 28px 0;
}

.last_cell {
  text-align: right;
}

@media (max-width: 320px) {
  .container {
    padding: 0 24px;
  }

  thead {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
  }
}
