.container {
  padding: 0 180px;
  overflow-x: auto;
}
@media (max-width: 480px) {
  .container {
    padding: 0 44px;
  }
}
@media (max-width: 350px) {
  .container {
    padding: 0 24px;
  }
}


.table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
}

thead {
  height: 23px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: var(--textSecondary);
}
@media (max-width: 480px) {
  thead {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
  }
}
@media (max-width: 350px) {
  thead {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
  }
}


th {
  padding: 32px 0 28px 0;
}

.last_cell {
  text-align: right;
}
