tbody {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  padding: 12px;
  cursor: pointer;
}

tbody:hover {
  background-color: var(--secondaryColor);
}

td {
  height: 64px;
  border-bottom: 1px solid var(--textSecondary);
  color: var(--textPrimary);
}

.last_td {
  text-align: right;
}


@media (max-width: 320px) {
  tbody {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
  }
}
