.container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 32px;
}
@media (max-width: 480px) {
  .container {
    padding-left: 0;
    position: static;
  }
}
@media (max-width: 350px) {
  .container {
    padding-left: 0;
    position: static;
  }
}

.title {
  display: flex;
  gap: 12px;
}


.option {
  display: flex;
  gap: 12px;
  cursor: pointer;
}
@media (max-width: 480px) {
  .option {
    align-items: center;
    gap: 8px;
  }
}
@media (max-width: 350px) {
  .option {
    align-items: center;
    gap: 8px;
  }
}


.label{
  color: var(--primaryColor);
  cursor: pointer;
}

.arrow_top {
  transform: rotate(180deg);
  transition: 0.3s;
}
@media (max-width: 480px) {
  .arrow_top {
    width: 15px;
    height: 8px;
  }
}
@media (max-width: 350px) {
  .arrow_top {
    width: 12px;
    height: 5px;
  }
}


.arrow_bottom {
  transform: rotate(0deg);
  transition: 0.3s;
}

@media (max-width: 480px) {
  .arrow_bottom {
    width: 15px;
    height: 8px;
  }
}
@media (max-width: 350px) {
  .arrow_bottom {
    width: 12px;
    height: 5px;
  }
}


label {
  cursor: pointer;
}

.menu {
  margin: 0;
  list-style: none;
  padding: 20px 20px;
  position: absolute;
  top: 100%;
  right: 0;
  width: 267px;
  overflow-y: hidden;
  height: 234px;
  background-color: var(--background);
  border-top: 1px solid var(--primaryColor);
  box-shadow: var(--shadowMenuSelect);
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: 0.3s;
}
@media (max-width: 480px) {
  .menu {
    width: 254px;
    height: 215px;
    left: 44px;
    top: 275px;
  }
}
@media (max-width: 350px) {
  .menu {
    width: 224px;
    height: 215px;
    left: 24px;
    top: 215px;
  }
}


.menu_element {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
@media (max-width: 480px) {
  .menu_element {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 12px;
  }
}
@media (max-width: 350px) {
  .menu_element {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 12px;
  }
}


.check_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 19px;
  height: 19px;
  background-image: var(--emptyCheckbox);
  cursor: pointer;
}

.check_input:checked {
  cursor: pointer;
  background-image: var(--checkbox);
}

.menu.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
