.search_input_container {
  padding: 0 180px;
}

.search_input {
  width: 100%;
  color: var(--textPrimary);
  height: 40px;
  padding: 10px;
  background: inherit;

  border: 0.5px solid var(--textSecondary);
  border-radius: 5px;

  margin-bottom: 28px;
}

.search_input:hover,
.search_input:active,
.search_input:focus {
  outline: none;
}
