.search_input_container {
  padding: 0 180px;
}
@media (max-width: 480px) {
  .search_input_container {
    width: 100%;
    padding: 0 44px;
    position: absolute;
    top: 195px;
  }
}
@media (max-width: 350px) {
  .search_input_container {
    width: 100%;
    padding: 0 24px;
    position: absolute;
    top: 150px;
  }
}


.search_input {
  width: 100%;
  color: var(--textPrimary);
  height: 40px;
  padding: 10px;
  background: inherit;

  border: 0.5px solid var(--textSecondary);
  border-radius: 5px;

  margin-bottom: 28px;
}
@media (max-width: 480px) {
  .search_input {
    margin: 0;
    height: 38px;
  }
}
@media (max-width: 350px) {
  .search_input {
    margin: 0;
    height: 34px;
  }
}


.search_input:hover,
.search_input:active,
.search_input:focus {
  outline: none;
}
