.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30vh;
}

.error_message {
  text-align: center;
  margin-top: 20px;
  color: var(--textPrimary);
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
}
@media (max-width: 480px) {
  .error_message {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
  }
}
@media (max-width: 350px) {
  .error_message {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
  }
}
