.bread_crumbs {
  padding: 28px 0;
  display: flex;
  gap: 20px;
}

.nav_link {
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
  color: var(--textSecondary);
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
}
