.container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 32px;
}

.title {
  display: flex;
  gap: 12px;
}

.option {
  display: flex;
  gap: 12px;
}

.label{
  color: var(--primaryColor);
}

.menu {
  margin: 0;
  list-style: none;
  padding: 20px 20px;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 267px;
  overflow-y: auto;
  height: 234px;
  background-color: var(--background);
  border-top: 1px solid var(--primaryColor);
  box-shadow: var(--shadowMenuSelect);
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: 0.3s;
}

.menu_element {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.check_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 19px;
  height: 19px;
  background-image: var(--emptyCheckbox)
}

.check_input:checked {
  background-image: var(--checkbox);
}

.menu.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
