.container {
  display: flex;
  flex-direction: column;
}

.title_page {
  color: var(--textPrimary)
}

.select_container {
  padding: 0 180px;
  color: var(--textPrimary);
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 28px;
}

.select_list {
  display: flex;
  gap: 10px;
}


.filters_container {
  display: flex;
  align-items: center;
  height: 71px;
  background-color: var(--secondaryColor);
  color: var(--textPrimary);
}

.filters {
  width: 100%;
  padding: 0 180px;
  display: flex;
  justify-content: space-between;
}

.title_filters {
  color: rgb(245, 245, 245);
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
}

.search_button {
  height: 45px;
  padding: 12px 48px;
  background: var(--primaryColor);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;

  border-radius: 8px;
  border: none;
}

.spinner {
  height: 30vh;
}
